<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="insert.css">
</head>

<body>
    <div class="form"; style="background-color: lightblue;">
        <form action="doUpdate" method="POST">
            
            <h1>Update Toys</h1>
            
            <div class="flex">
                <p> <input type="hidden" name="id" id="id" value="{{Toys._id}}"></p>
                <p><span>Name:</span> <input type="text" name="txtNameToys" id="name" value="{{Toys.NameToys}}"></p>
                <p><span>Price:</span> <input type="text" name="txtPriceToys" id="price" value="{{Toys.PriceToys}}"></p>
                <p><span>Description:</span><textarea name="txtDescriptionToys" id="description" cols="21" rows="8">{{Toys.DescriptionToys}}</textarea></p>
  
                
            </div>
            <p class="btn-p"><input type="submit" id="btn" value="update"></p>
        </form>
    </div>


    <script>

        
</body>

</html>